# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor folders
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vini's Specifics
.env
.env.local
.env.production
tmp_cloned_site
tmp/
*.webp
*.png
!public/*.png
!public/*.webp
!public/*.ico
!public/*.svg

# Blueprints (Contém dados sensíveis)
blueprint.md
architecture.md
tasks.md


.vercel
